{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mx-5">Lista de Veterinarios</h1>

    <div class="row mt-5">
        {% for veterinario in veterinarios %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">{{ veterinario.nombre }}</h4>
                    <p class="card-text"><li>{{ veterinario.especialidad }} - {{ veterinario.telefono }} - {{ veterinario.correo }}</li></p>
                </div>
            </div>
        </div>
            
        {% endfor %}
    </div>
    
{% endblock %}